{% extends 'index.html' %}

{% block content %}
    <h3>Welcome to your account, {{ request.user.username }}</h3>
    <h4>Your money: {{ user.money }}</h4>

    <div class="ml-5">
        {% if messages %}
            {% for message in messages %}
                <b style="background-color: red">{{ message }}</b>
            {% endfor %}
        {% endif %}
    </div><br>

    <h5 style="font-style: italic">It's list with your orders: </h5>
    {% if not orders.count %}
        <div class="col-md-12" style="margin-top: 20px; margin-bottom: 200px;">
            <h3>You dont have orders</h3>
        </div>
    {% else %}
        <table class="table">
            <thead>
            <tr class="table-info">
                <th scope="col">Order id</th>
                <th scope="col">Product name</th>
                <th scope="col">Amount</th>
                <th scope="col">Final price</th>
                <th scope="col">Buy time</th>
            </tr>
            </thead>
            <tbody>
            {% for i in orders %}
                <tr class="table">
                    <th scope="row">{{ i.id }}</th>
                    <td>{{ i.product.name }}</td>
                    <td>{{ i.input_amount }}</td>
                    <td>{{ i.final_price }}</td>
                    <td>{{ i.buy_time }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
