{% extends 'index.html' %}
<h3 class="text-center">You want to buy this product: </h3>
{% block content %}
    <div>
        <p>{{ product_description.amount }}</p>
    </div>
    <div>
        <form action="{% url 'purchase_page' %}" method="post">
            {% csrf_token %}
            <br><label for="input_amount">Enter the quantity you need: </label><br>
            <input id="input_amount" name="input_amount" type="number" min="1"
                   max="{{ product_description.amount }}">
            <input id="buyer" name="buyer" value="{{ user.id }}" type="hidden">
            <input id="product" name="product" value="{{ product_description.id }}" type="hidden">
            <button class="btn btn-success" type="submit">Buy</button>
        </form>
    </div>
    {% if my_error %}
        <p style="color:red">NO MONEY!</p>
    {% endif %}
{% endblock %}
